.layout {
    position  : relative;
    box-sizing: border-box;
    background: @bgColor;

    .top-bar {
        position: fixed;
        top     : 0;
        left    : 0;
        width   : 100vw;
    }

    .content {}

    .nav-bar {
        position: fixed;
        bottom  : 0rem;
        width   : 100vw;
    }
}
